<!-- ======= Top Bar ======= -->
<header>
  <div class="header-top">
    <div class="row container-fluid">
      <div class="col-md-6 left-image">
        <img src="/images/home/left-header.png" alt="" class="w-25" style="margin-left: -14px;">
      </div>
      <div class="col-md-6 right-image ">
        <div class="right-contnt text-right" style="margin-right: -40px;">
          <img src="/images/home/right-header.png" alt="" class="w-25">
          <div class="content text-white">
            <strong> Department of Biotechnology</strong> <br><strong>Ministry of Science & Technology</strong>
            <br><strong> Government of India</strong>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="header-bottom" id="header">
    <div class="container-fluid d-flex align-items-center">
      <h1 class="logo mr-auto"><a href="/"><img src="/images/logo.png" alt="" class="w-75"></a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/fellowship">iFELLOWSHIP</a></li>
          <li><a href="/partners">PARTNERS</a></li>
          <li><a href="/start-ups">Start-Ups</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/meditech">Meditech Submit</a></li>

        </ul>
      </nav>

    </div>
  </div>
</header>