<%- include('partials/header'); %>
<%- include('partials/nav'); %>

<main id="main" class="container-fluid">
  <!-- about page -->
  <section id="about" class="section-bg mt-4 mb-4 card card-body">
    <div class="container-fluid mt-4">
      <div class="row mb-4">
        <div class="col-md-12">
          <div class="section-title mt-2">
            <h2>About</h2>
            <h3>SCHOOL OF INTERNATIONAL BIODESIGN</h3>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <img src="/images/sliders/s1.jpg" class="w-100 img-fluid" alt="Responsive image">
              <br>
              <img src="/images/sliders/s2.jpg" class="w-100 img-fluid" alt="Responsive image">
              <br>
              <img src="/images/sliders/s3.jpg" class="w-100 img-fluid" alt="Responsive image">

            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
              data-aos-delay="100">
              <p class="font-italic">Stanford India Biodesign programme started in the year 2007 till 2014. School of
                International Biodesign (SIB) is built on the success of Stanford India Biodesign Programme. School of
                International Biodesign (SiB) is an innovation program implemented by the Department of Biotechnology (DBT),
                Ministry of Science and Technology, Government of India at All India Institute of Medical Sciences (AIIMS),
                New Delhi and Indian Institute of Technology Delhi (IITD) in collaboration with QUT Australia and Hiroshima
                University, Japan. Since the inception of the program, DBT has engaged Biotechnology Consortium of India
                Limited (BCIL) to manage the techno-legal activities of this Programme. The current duration of this
                Programme is upto December 2020.</p>
              <p>
                The mandate of this Programme is to train next generation of medical technology innovators in India. The
                focus is on invention/innovation and early stage development of affordable, accessible and available medical
                technologies for our population.
              </p>
              <p>During the last 11 years this interdisciplinary Programme has achieved the following; More than 100 medical
                technology innovators (Doctors, engineers, designers, entrepreneurs) have been trained in the Biodesign
                process. This includes idea generation through clinical immersion, need finding, need filtration at AIIMS
                and prototype development at IIT, with IP generation with the help of BCIL towards developing innovative
                technologies for the country.</p>
              <p>More than 50 prototypes have been developed so far which have been further refined validated
                internationally and tested (both preclinical and clinical trials).</p>
              <p>This has led to the development of over 30 medical devices which has been possible by the efforts of young
                innovators ie 60 Fellows and over 52 Interns who have been meticulously trained in the Biodesign innovation
                process by the faculty of AIIMS and IIT-D with the international partners. These devices are built on more
                than 50 patents (National, International and National phase filing). Fifteen technologies have been
                transferred and twelve medical technology start-ups have been setup by the Fellows trained under this
                Programme in sync with the ‘Start-Up’ India Programme.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>



  <!-- <section class="lists">
    <div class="container-fluid">
      <div class="card card-body">
        <div class="row">
          <div class="col-md-6">

            <h3>Department of BioTechnology, Govt. of India</h3>
            <ul>
              <li>Dr. Renu Swarup - Secretary</li>
              <li>Dr. Alka Sharma - Advisor, Scientist `G`</li>
              <li>Dr. Kalaivani Ganesan - Programme Officer, Scientist `E`</li>
            </ul>

            <h3>School of International Biodesign Advisors</h3>
            <ul>
              <li>Dr. Balram Bhargava - Secretary, DHR & DG- ICMR</li>
              <li>Dr. R. Guleria - Director, AIIMS, New Delhi</li>
              <li>Dr. V. Ramgopal Rao- Director, IIT Delhi</li>
            </ul>

            <h3>Core Team</h3>
            <ul>
              <li>Dr. Sandeep Singh - Executive Director, SiB- AIIMS New Delhi</li>
              <li>Dr. Harpal Singh- Executive Director, SiB- IIT Delhi</li>
              <li>Dr. Avijit Bansal - Fellowship Director, SiB</li>
              <li>Ms. Rajani Sethi - Programme Manager, SiB</li>
              <li>Ms. Anuradha Pathania Amit Gupta Bijesh Kumar </li>
              <li>Ms. Shivangi Jain Akhilesh Kumar</li>
            </ul>

            <h3>Biotech Consortium India Ltd</h3>
            <ul>
              <li>Dr. Purnima Sharma Dr. Sachin Sharma Ms. Reema Sahni</li>
              <li>Dr. Yogmaya Verma</li>
            </ul>

            <h3>All India Institute Of Medcal Sciences, Delhi</h3>
            <div class="row">
              <div class="col-md-4">
                <ul>
                  <li> Dr. A.B. Dey </li>
                  <li> Dr. A.K.Deorari</li>
                  <li> Dr. Amit Gupta</li>
                  <li> Dr. Anoop Saraya</li>
                  <li> Dr. Arun Kr. Gupta</li>
                  <li> Dr. Bhavuk Garg</li>
                  <li> Dr. Chitra Sarkar</li>
                  <li> Dr. Gita Handa</li>
                  <li> Dr. Govind Makharia</li>
                  <li> Dr. G.P. Singh</li>
                  <li> Dr. Hitender Gautam</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li> Dr. J.B. Sharma</li>
                  <li> Dr. Kapil Sikka</li>
                  <li> Dr. Karan Madaan</li>
                  <li> Dr. L.R. Murmu</li>
                  <li> Dr. M. V. Padma</li>
                  <li> Dr. Maneesh Singhal</li>
                  <li> Dr. Neerja Bhatla</li>
                  <li> Dr. Nikhil Tandon</li>
                  <li> Dr. Nitish Naik</li>
                  <li> Dr. Peush Sahni</li>
                  <li> Dr. Pramod Garg </li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li> Dr. Pradeep Sharma </li>
                  <li> Dr. Praveen Agagrwal</li>
                  <li> Dr. Puneet Misra</li>
                  <li> Dr. Rakesh Lodha</li>
                  <li> Dr. Ramesh Aggarwal</li>
                  <li> Dr. Rajesh Khadgawat</li>
                  <li> Dr. Renu Dhingra</li>
                  <li> Dr. Renu Sinha</li>
                  <li> Dr. Rohit Bhatia</li>
                  <li> Dr. S. C. Sharma</li>
                  <li> Dr. S.K. Acharya</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <ul>
                  <li>Dr. Saurabh Kr. Gupta </li>
                  <li> Dr. Shashia Kant</li>
                  <li> Dr. Sujoy Pal</li>
                  <li> Dr. Sushma Sagar</li>
                  <li> Dr. Vijay Hadda</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li>Dr. Sanjay K. Rai</li>
                  <li> Dr. Sanjay Wadhwa</li>
                  <li> Dr. Sanjeev Bhoi</li>
                  <li> Dr. Shiv Choudhury</li>
                  <li> Dr. Subodh Kumar</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li>Dr. Vineet Ahuja</li>
                  <li> Dr. Vivek Trikha</li>
                  <li>Ms. Sumita Gupta</li>
                </ul>
              </div>
            </div>
            <h3>Indian Institute of Technology, Delhi</h3>
            <div class="row">
              <div class="col-md-4">
                <ul>
                  <li>Dr. Alok Ray</li>
                  <li> Dr. B.R.Mehta</li>
                  <li> Dr. P. V. M. Rao</li>
                  <li> Dr. Shouri Chatterjee</li>
                  <li> Dr. Sudipto Mukherjee</li>
                  <li> Dr. Supreet Singh B.</li>
                  <li> Dr. Naresh Bhatnagar</li>
                  <li> Dr. Nomesh Bolia</li>
                  <li> Dr. Neetu Singh</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li>Dr. Arnab Chanda</li>
                  <li>Dr. Deepak Joshi</li>
                  <li>Dr. Anup Singh</li>
                  <li>Dr. Dinesh K.</li>
                  <li>Dr. Jayanta B.</li>
                  <li>Dr. Naresh V. Datla</li>
                  <li>Dr. Subhra Datta</li>
                  <li>Dr. Devendra Dubey</li>
                  <li>Dr. Amit Gupta</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li>Dr. Jitendra P. Khatait</li>
                  <li>Dr. Sasidhar Kondaraju</li>
                  <li>Dr. Saakshi Dhanekar</li>
                  <li>Dr. Ravikrishnan E.</li>
                  <li>Dr. Sourabh Ghosh</li>
                  <li>Dr. Shalini Gupta</li>
                  <li>Dr. Anil Wali</li>
                </ul>
              </div>
            </div>

            <h3>Collaborative Universities</h3>
            <h5>Hiroshima University, Japan</h5>
            <div class="row">
              <div class="col-md-4">Dr. Tomohiko Kisaka</div>
              <div class="col-md-4">Mr. Yasuyuki Matsurra</div>
              <div class="col-md-4">Mr. Hiroshi Sako</div>

            </div>
            <h5>Queensland University of Technology, Australia</h5>
            <div class="row">
              <div class="col-md-12">
                Dr. Devakar Epari
              </div>
            </div>
            <h5>Tottori University, Japan</h5>
            <div class="row">
              <div class="col-md-4">
                Dr. Koga Atsuro
              </div>
              <div class="col-md-4">
                Dr. Arija Vaidya
              </div>
            </div>
            <h5>Stanford University</h5>
            <div class="row">
              <div class="col-md-4">
                Dr. Paul Yock <br>
                Dr. Gordon Saul
              </div>
              <div class="col-md-4">
                Dr. Rajiv Doshi <br>
                Dr. Uday Kumar
              </div>
              <div class="col-md-4">
                Dr. Anurag Mairal
              </div>
            </div>
            <h3>Industry Advisors</h3>
            <div class="row">
              <div class="col-md-4">
                Biten Kathrani <br>
                Yashdeep Kumar <br>
                Ravi Kaushik
              </div>
              <div class="col-md-4">
                Deepanwita C. <br>
                Aditya Ajmera <br>
                Ajay Pitre
              </div>
              <div class="col-md-4">
                Sashi Kumar <br>
                Probir Das <br>
                Gurmit Singh <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section> -->

  <section class="maps card card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h3><span> Identify</span> in India</h3>
          <h3><span>Invent</span> with India</h3>
          <h3><span>Implement</span> Internationally</h3>
        </div>
        <div class="col-md-6 text-center">
          <img src="/images/p1.png" alt="" width="10%">
          <img src="/images/p2.png" alt="" width="10%">
          <img src="/images/p3.png" alt="" width="10%">
          <img src="/images/p6.png" alt="" width="10%">
          <img src="/images/p5.png" alt="" width="10%">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img src="/images/home/image--068.jpg" alt="..." width="w-100">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="">
            <i class="fa fa-map-marker fa-2x"></i>
            Room No 108, Old OT Block, <br>
            All India Institute of Medical Sciences, <br>
            Ansari Nagar, New Delhi - 110029, India
          </div>

        </div>
        <div class="col-md-6 text-center">
          <div class="">
            <i class="fa fa-address-book-o fa-2x"></i>
            www.biodesign.school <br>
            E-mail: office@biodesign.school <br>
            Phone: +91 011 2658 3758
          </div>

        </div>
      </div>
    </div>

  </section>

</main><!-- End #main -->
<%- include('partials/footer'); %>